 NODE_ENV=development
 PORT=3000

 MONGO_URI=mongodb

 MONGO_DB_NAME=api_monitoring

PG_HOST=postgres
PG_PORT=5432
PG_DATABASE=api_monitoring
PG_USER=postgres
PG_PASSWORD=223

 RABBITMQ_URL=amqp

 RABBITMQ_QUEUE=api_hits

 JWT_SECRET=u
 JWT_EXPIRES_IN=24h

 VALID_API_KEYS=test_2323, test_key_23434, test3_2334

 RATE_LIMIT_WINDOW_MS=60000
 RATE_LIMIT_MAX_REQUESTS=100

PGADMIN_DEFAULT_PASSWORD=adm